In [1]:
import pandas as pd
import os
import datetime
from pandas import Series, DataFrame

In [2]:
def read_event_file():
    df = pd.read_csv(tables_path + 'tb_e_event_history.csv', parse_dates=['event_start_date',5,6], index_col = ['event_start_date'])
    return df

In [3]:
tables_path = '..\\tables\\'

In [4]:
df_e = read_event_file()

In [5]:
df = df_e[['ess_id','event_code']]

In [6]:
df.groupby(df.ess_id).describe().T

ess_id             24    30    31           33    34    35    36    37    \
event_code count     12     4   138            1    43   204   344  1116
           unique     9     3    66            1     4     9     7     6
           top     P302  P302  P205  ESS_NOT_RPT  P216  P215  P216  P216
           freq       2     2     5            1    31   129   335   970

ess_id             38    40    ...   1636  1637  1645  1646  1648  1654  1656  \
event_code count    228   135  ...      3     3    10     1    10    23     3
           unique     8     5  ...      1     1     3     1     4     3     2
           top     P216  P216  ...   P209  P304  P209  P470  P462  P208  P304
           freq     142   126  ...      3     3     8     1     5    20     2

ess_id             1659  1662  1665
event_code count      1    10     9
           unique     1     3     3
           top     P520  P301  P315
           freq       1     6     7

[4 rows x 1306 columns]

In [7]:
df.groupby(df.event_code).describe().T

event_code    B101         B102         B103  B104        B105  B106  B107  \
ess_id count   3.0  1084.000000    35.000000   3.0   13.000000   3.0   3.0
       mean   31.0   540.834871   706.485714  31.0  390.230769  31.0  31.0
       std     0.0   165.123819   388.497435   0.0  229.164117   0.0   0.0
       min    31.0    31.000000    31.000000  31.0   31.000000  31.0  31.0
       25%    31.0   455.000000   426.000000  31.0  342.000000  31.0  31.0
       50%    31.0   572.000000   521.000000  31.0  399.000000  31.0  31.0
       75%    31.0   572.000000   960.000000  31.0  611.000000  31.0  31.0
       max    31.0  1536.000000  1339.000000  31.0  639.000000  31.0  31.0

event_code           B108  B109         B110     ...         P517  \
ess_id count     8.000000   3.0   643.000000     ...          2.0
       mean    504.875000  31.0   650.642302     ...       1497.0
       std     503.295266   0.0   369.212156     ...          0.0
       min      31.000000  31.0    31.000000     ...       1497.0
       25%      31.000000  31.0   354.000000     ...       1497.0
       50%     451.000000  31.0   577.000000     ...       1497.0
       75%     789.000000  31.0  1023.000000     ...       1497.0
       max    1466.000000  31.0  1547.000000     ...       1497.0

event_code           P519         P520         P521         P525         P526  \
ess_id count   791.000000   333.000000   703.000000    30.000000    19.000000
       mean   1298.419722  1161.621622  1326.267425   975.933333   956.210526
       std     286.453621   293.706529   268.796976   105.934897    29.678984
       min     891.000000   891.000000   891.000000   896.000000   896.000000
       25%     906.000000   908.000000   964.000000   964.000000   964.000000
       50%    1510.000000   964.000000  1510.000000   964.000000   964.000000
       75%    1510.000000  1510.000000  1510.000000   964.000000   964.000000
       max    1627.000000  1659.000000  1635.000000  1526.000000  1020.000000

event_code           P527         P528   P540         P542
ess_id count    33.000000  7595.000000    3.0     2.000000
       mean   1002.303030  1211.179724  896.0   963.000000
       std      35.014716   301.011925    0.0    80.610173
       min     896.000000   908.000000  896.0   906.000000
       25%    1020.000000   908.000000  896.0   934.500000
       50%    1020.000000  1510.000000  896.0   963.000000
       75%    1020.000000  1510.000000  896.0   991.500000
       max    1020.000000  1510.000000  896.0  1020.000000

[8 rows x 116 columns]

In [8]:
df.groupby("event_code").count().to_csv('eventcode_count.csv')

In [9]:
df.groupby("ess_id").count().to_csv('essid_count.csv')

In [10]:
df.groupby(["ess_id", "event_code"]).size().to_csv('eventcode_size.csv')

In [13]:
df.groupby(["ess_id", "event_code"]).size().T

ess_id  event_code
24      ESS_NOT_RPT     1
        P209            1
        P213            1
        P216            1
        P220            2
        P301            2
        P302            2
        P316            1
        P320            1
30      ESS_NOT_RPT     1
        P219            1
        P302            2
31      B101            3
        B102            3
        B103            3
        B104            3
        B105            3
        B106            3
        B107            3
        B108            3
        B109            3
        B110            3
        B301            2
        B302            2
        B303            2
        B304            2
        B305            2
        B306            2
        B307            2
        B308            2
                       ..
1631    P304            2
1633    P209            2
        P302            1
        P304            5
1634    P304            1
1635    P470            1
        P520            1
        P521            1
1636    P209            3
1637    P304            3
1645    P209            8
        P304            1
        P315            1
1646    P470            1
1648    P460            3
        P461            1
        P462            5
        P471            1
1654    P208           20
        P302            2
        P304            1
1656    P220            1
        P304            2
1659    P520            1
1662    P220            2
        P301            6
        P304            2
1665    P211            1
        P219            1
        P315            7
Length: 6436, dtype: int64